* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue-200: #60a3bc;
    --blue-500: #3c6382;
    --blue-800: #0a3d62;
    --blue-900: #0A2647;
    
    --purple-800: #27296D;
    --purple-900: #16213E;

    --black-800: #171717;

    --gray-200: #cccccc;
    --gray-400: #505861;

    --white: #F9F9F9;
}

/*
    Determinando propriedades para o documento HTML
    width: 100& = Ocupa toda a exibição horizontal

    unidade de medida vh (viewport height) = Janela de visualização do usuário
    height: 100vh = Ocupa toda a janela de visualização do usuário verticalmente, independente do tamanho da tela
*/
html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    /* Scroll suave */
}

body {
    background: var(--black-800);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    /* Fonts mais detalhadas/nítidas */
}

button,
a {
    cursor: pointer;
    /* Modificando o cursor ao passar o mouse por cima do botão */
}

/* Estilizando o scrollbar da página*/
body::-webkit-scrollbar {
    width: 0.5rem;
    /* largura da Scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--black-800);
    /* cor do plano de fundo da Scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--blue-500);
    /* cor do scroll */
    border-radius: 20px;
    /* borda do scroll */
}
/* Estilizando o scrollbar da página*/



.btn{
    text-align: center;
    padding: 12px 32px;
    background: none;
    border: 1px solid var(--blue-500);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all .2s ease-in-out;

    @media screen and (max-width: 800px) {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.btn:hover {
    transition: all .2s ease-in-out;
    background: linear-gradient(to bottom,  var(--blue-900), var(--purple-800));
}

.dark-theme{
    background: var(--gray-200);
    color: var(--black-800);
}

.dark-theme .header_container {
    background: linear-gradient(to bottom,  var(--blue-900), var(--white));
    border-bottom: 1px solid var(--blue-500);
}

.dark-theme .btn{
    background: var(--blue-500);
    color: var(--white);
}

.dark-theme .btn:hover {
    color: var(--blue-500);
    background: linear-gradient(to bottom,  var(--gray-200), var(--white));
}

.dark-theme .header_container a {
    color: var(--white);
}

.dark-theme .header_container a:hover {
    color: var(--blue-800);
}

.dark-theme footer{
    color: var(--white);
    background: linear-gradient(to top,  var(--blue-800), var(--white));
}

.dark-theme .loader{
    border: 8px solid var(--blue-200);
    border-top: 8px solid var(--white);
}

body.dark-theme::-webkit-scrollbar-track {
    background: var(--gray-200);
}
